@model IEnumerable<ClientDetailWebApp.Models.Client>
@{
    ViewBag.Title = "All Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Following table shows the Clients detail</h3>
<p>You will find their details, as well as other links to other actions that can be performed and operated over the client objects. </p>
<input type="button" value="Add New Client" onclick="location.href='@Url.Action("Create","Client")'" />
<table cellspacing="10" cellpadding="10">
    <tr>
        <td><b>ID</b></td>
        <td><b>Name</b></td>
        <td><b>Address</b></td>
        <td><b>Trusted</b></td>
        <td><b>Actions</b></td>
    </tr>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var client in Model)
        {
            // Create the list of these clients
            <tr>
                <td>@client.ID</td>
                <td>@client.Name</td>
                <td>@client.Address</td>
                <td>@client.Trusted</td>
                <td>
                    <a href="~/Client/Update/@client.ID">Update</a>
                    <a href="~/Client/Delete/@client.ID">Delete</a>
                </td>
            </tr>
        }
    }
</table>


